
.header-icon {
    margin-right: 10px; 
}

.header-title {
    margin: 0; 
}

.header-icon {
    width: 32px; 
    height: 40px; 
    margin-right: 10px; 
}

.header-title {
    margin-top: 5px;
    font-size: 24px;
}

.header-container {
    margin-top: 25px;
}

.header-form {
    margin-left:auto;
}

.btn-warnning {
    color: #fff !important;
    background-color: #FF4A5B !important;
    border-color: #FF4A5B !important;
}

.btn-warnning:hover {
    color: #fff !important;
    background-color: #FF3A4B !important;
    border-color: #FF3A4B !important;
}
.btn-form {
    display: inline-block !important;
    margin-right: 1px !important;
}

