﻿#title-container {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f9f9f1;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
}

#PlotSelectiontitle {
    color: #587b63;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#PlotSelectionSubtitle {
    color: #555;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#PlotSelectionContainer {
    display: flex;
    position: relative; /* relativeに設定して子要素のabsolute配置を可能に */
    width: 100%;
    height: 384px;
    justify-content: center;
    align-items: center;
}

#plotCanvas {
    position: absolute; /* 絶対位置に設定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 親要素の中央に配置 */
    z-index: 1; /* 画像の上に表示 */
}

#PlotSelectionImage {
    position: relative; /* 絶対位置に設定 */
    object-fit: cover; /* 画像がコンテナ内に収まるように調整 */
    top: 0;
    left: 0;
    z-index: 0;
}

#PlotSelectionContainer:focus {
    outline: none; /* フォーカス時のアウトラインを消す */
}
