#PlotDetailsHeader {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f9f9f1;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

#PlotDetailsTitle {
    color: #587b63;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
#PlotDetailsContainer {
    margin: 0 auto;
}
    #PlotDetailsContainer img,
    #PlotDetailsContainer div {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
.PlotInfoContainer {
    background-color: #F8FAE4;
    text-align: center;
    box-sizing: border-box;
    max-width: 1000px;
    padding: 5px;
    margin: auto;
}


#map-container {
    display: inline-block;
    width: 500px;
    height: 750px;
    border: 1px solid #ccc;
}
.button:hover {
    background-color: #A2C049;
}

.content {
    background-color: #F8FAE4;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.district-name {
    background-color: #33B668;
    border-left: 10px solid #fff100;
    text-align: left;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
}
.image-content {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}
.image-container {
    text-align: center;
    margin: 0 10px;
}
    .image-container img {
        max-width: 250px;
        display: block;
    }
    .image-container p {
        text-align: left;
        font-size: 14px;
        margin: 10px 0;
    }

table {
    margin: 0 10px;
    width: 500px;
    border-collapse: collapse;
}
caption {
    display: block;
    color: black;
    font-weight: bold;
    text-align: left;
}
th, td {
    margin-top: 20px;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}
th {
    background-color: #DCF7E7;
}
td {
    background-color: white;
}
h1 {
    width: 100vw;
    text-align: center;
    color: #603800;
    background-color: #FBFCEF;
}
    th:last-child {
        color: red;
    }
label {
    font-weight: bold;
    margin-bottom: 10px;
}
.button-container {
    text-align: center;
    margin: 10px;
}
.button-visit {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #ED220A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-reserve {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #A3AB63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    grid-column: span 2;
    padding: 10px;
    background-color: #FFFFFF;
    color: #FF0000;
    border: 2px solid #FF0000;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
    margin: 0 10px;
}
    .back-button:hover {
        background-color: #FFC0CB;
    }

.leaflet-control-attribution {
    display: none !important;
}
.qr-code {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 520px) {
    #map-container {
        display: inline-block;
        width: 400px;
        height: 600px;
        border: 1px solid #ccc;
    }

    .image-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .image-container img {
        margin: 5px 10px;
    }
}

@media (max-width: 400px) {
    #map-container {
        display: inline-block;
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
    }

    @media (max-width: 400px) {
        #fig {
            width: 100%;
            height: auto;
        }
    }