body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('/images/bg_reien.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* 透過 */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    max-width: 100%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9); /* 透過 */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column; /* スマートフォンでは縦に並べる */
    gap: 10px;
}

label {
    text-align: left;
    background-color: #ffe4b5; /* 淡いオレンジ色 */
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* ラベルの背景色を幅いっぱいに */
    box-sizing: border-box;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
}

.postal-code-wrapper {
    display: flex;
    flex-direction: row; /* スマートフォンでは横に並べる */
    gap: 10px;
    width: 100%;
}

    .postal-code-wrapper input {
        flex-grow: 1; /* 入力フィールドが余分なスペースを占めるようにする */
    }

    .postal-code-wrapper button {
        flex-shrink: 0; /* ボタンのサイズが縮小されないようにする */
        padding: 10px;
        background-color: #0056b3;
        color: #fff;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        max-width: 200px; /* ボタンの最大幅を設定 */
    }

.email-note {
    grid-column: span 1;
    padding: 10px;
    font-size: 0.9em;
}

.contact-method, .email-subscription {
    display: flex;
    flex-direction: column; /* スマートフォンでは縦に並べる */
    align-items: flex-start;
}

    .contact-method label, .email-subscription label {
        text-align: left;
        min-width: 120px;
        padding: 10px;
    }

.contact-options, .subscription-options {
    display: flex;
    flex-direction: row; /* スマートフォンでも横に並べる */
    gap: 5px;
    align-items: center; /* アイテムを中央揃え */
    flex-wrap: wrap; /* 横並びで収まらない場合は折り返し */
}

    .contact-options div, .subscription-options div {
        display: flex;
        align-items: center;
    }

        .contact-options div label, .subscription-options div label {
            background-color: transparent; /* チェックボックスとラジオボタンのラベルの背景色を削除 */
            margin-left: 5px;
        }

        .contact-options div input, .subscription-options div input {
            margin-right: 5px; /* チェックボックスとラジオボタンの右のスペースを設定 */
            vertical-align: middle; /* チェックボックスとラジオボタンの位置を中央に */
        }

    .subscription-options p {
        margin-bottom: 10px;
        flex-basis: 100%;
    }

button[type="submit"] {
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}
