html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#header {
    background-color: #f5f5f5;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative; /* 相対位置を設定 */
}

#header-container {
    display: inline-block;
    align-items: center;
    position: relative; /* 相対位置を設定 */
}

#logo {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

#site-title {
    font-size: 24px;
    color: #587b63;
    font-weight: bold;
    vertical-align: middle;
}

#header::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #587b63; /* 緑色の罫線 */
    position: absolute;
    bottom: 0;
    left: 0;
}


#footer {
    background-color: #587b63; /* フッターの背景色 */
    color: white; /* フッターの文字色 */
    text-align: center; /* テキストの中央揃え */
    padding: 10px 0; /* 上下のパディング */
    position: fixed; /* フッターをページ下部に固定 */
    bottom: 0; /* ページの下部に配置 */
    width: 100%; /* 横幅を100%に */
}