.header-container {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.main-container {
    display: flex;
    height: 00vh;
}

.container {
    margin-top: 20px;
}

.table-responsive {
    overflow-y: auto;
    height: 600px;
}

.table th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}
