.header-container {
    display: flex;
    align-items: center; /* ’†‰›‘µ‚¦‚ğˆÛ */
    margin-bottom: 20px; /* ‰º•”‚Ìƒ}[ƒWƒ“ */
}

.card {
    border: none; /* ŠO˜g‚ğíœ */
    border-top: 1px solid #dee2e6; /* ã•”‚Ì‹«ŠEü */
    border-bottom: 1px solid #dee2e6; /* ‰º•”‚Ì‹«ŠEü */
}

.btn btn-primary save-btn {

    margin-left: auto;
}