@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/css/Index.css" rel="stylesheet">
</head>
<body>
    <form method="post" action="PlotSelection">
        @Html.AntiForgeryToken()
        <div class="login_container">
            <p class="login_fsize">ログイン</p>
            <input type="text" name="userID" placeholder="UserID" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>
