@page
@model YasiroRegrave.Pages.PendingModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Complete</title>
    <style>
        .centered-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }

            .centered-content img {
                max-width: 100%;
                height: auto;
                border: 2px solid #587b63;
            }
    </style>
</head>
<body>
    <div class="centered-content">
        <img src="~/images/pending.png" alt="Pending Image">
    </div>
</body>
</html>
