@page
@model PlotDetailsModel
@{
}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/PlotDetails.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div id="map-wrapper">
            <div id="map-container"></div>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Leaflet.jsの初期化
        var map = L.map('map-container', {
            crs: L.CRS.Simple,
            zoomControl: true
        });

        // 画像の実際のサイズに合わせてboundsを設定
        var bounds = [[0, 0], [500, 500]]; // 画像のサイズを設定 (height, width)

        // 画像ファイルのパスが正しいか確認
        var imagePath = '/images/akikukaku.png';
        var image = L.imageOverlay(imagePath, bounds).addTo(map);

        // 初期表示をウィンドウいっぱいに設定
        var center = [759 / 2, 517 / 2];
        var zoomLevel = 1; // 初期のズームレベルを設定
        map.setView(center, zoomLevel);

        // ズームアウトした時に画像全体が見えるように制限を設定
        map.setMaxBounds(bounds);

        map.on('resize', function () {
            map.setView(center, zoomLevel);
        });
    </script>
</body>
</html>
