@page
@model PlotSelectionModel
@{
    ViewData["Title"] = "空き区画予約";
}
<link href="/css/PlotSelection.css?v=@DateTime.Now.Ticks" rel="stylesheet">

<div id="PlotSelectionHeader">
    <div id="PlotSelectionTitle">
        @(Model.AreaName) 空き区画予約
    </div>
    <div id="PlotSelectionSubtitle">
        大阪生駒霊園の空き区画のご確認ができます。<br>
        ご希望の区画を仮予約することも可能です。
    </div>
</div>
<div id="PlotSelectionExplanation">
    <img src="images/figure1.png?v=@DateTime.Now.Ticks">
</div>
<div id="PlotSelectionExplanation">
    <img src="images/figure3.png?v=@DateTime.Now.Ticks">
</div>
<div id="PlotSelectionContainer">
    <canvas id="plotCanvas" width="500" height="500"></canvas>
    <img src="images/AREA_@(Model.ReienCode)_@(Model.AreaCode).png?v=@DateTime.Now.Ticks" id="PlotSelectionImage" alt="区画" />
</div>
<div id="PlotSelectionExplanation">
    <img src="images/reservationImage.png?v=@DateTime.Now.Ticks">
</div>
<div class="button-container">
    <button type="button" class="back-button" onclick="history.back()">前画面に戻る</button>
</div>

<script>
    var ReienCode = '@Model.ReienCode';
    var AreaCode = '@Model.AreaCode';
    var sectionDatas = @Html.Raw(Json.Serialize(Model.SectionDatas));
</script>
<script src="~/js/PlotSelection.js"></script>
