@page
@model PlotDetailsModel
@{
    ViewData["Title"] = "Home page";
}



<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/PlotDetails.css" rel="stylesheet">

</head>
<body>
    <!-- データの定義 -->
    @{
        var data = new[] {
    new[] {10, 1000000, 500000, 800000}, // 面積, 墓地使用料, 永代管理料, 墓石セット価格
    new[] {15, 1200000, 600000, 1100000}
    };

        var titleData = new[]

        {
    new[] {"親鸞E区", "8列", "11"}, // 区、列、番号
    new[] {"親鸞E区", "7列", "03"}
    };
    }

    <!-- ページのタイトル -->
    <h1>@titleData[0][0]の空き区画状況</h1>
    <div class="container">
        <!-- akikukakuの画像 -->
        <div class="image-container" style="position: relative;">
            <img src="images/ikoma.png" alt="空き区画の画像" class="image">
        </div>


        @for (var i = 0; i < data.Length; i++)
        {
            <!-- テキスト -->
            <div class="content">
                <p class="district-name" style="font-size: 24px; color: white; margin: 0; padding-bottom: 10px; font-weight: bold;">@titleData[i][0] @titleData[i][1]-@titleData[i][2]</p>

                <!-- 画像とテキストとテーブル -->
                <div class="content" style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                    <!-- 画像1 -->
                    <div class="image-container" style="margin-right: 20px;">
                        <img src="images/pic@(i * 2 + 1).png" alt="区画@(i * 2 + 1)の画像" class="image">
                    </div>
                    <!-- 画像2 -->
                    <div class="image-container" style="margin-right: 20px;">
                        <img src="images/pic@(i * 2 + 2).png" alt="区画@(i * 2 + 2)の画像" class="image">
                    </div>
                    <!-- テーブル -->
                    <table>
                        <tr>
                            <th style="background-color: rgb(220,247,231);">面積</th>
                            <td class="data-cell">@data[i][0]㎡</td>
                        </tr>
                        <tr>
                            <th style="background-color: rgb(220,247,231);">墓地使用料</th>
                            <td class="data-cell">¥@string.Format("{0:#,0}", data[i][1])</td>
                        </tr>
                        <tr>
                            <th style="background-color: rgb(220,247,231);">永代管理料</th>
                            <td class="data-cell">¥@string.Format("{0:#,0}", data[i][2])</td>
                        </tr>
                        <tr>
                            <th style="background-color: rgb(220,247,231);">墓石セット価格</th>
                            <td class="data-cell">¥@string.Format("{0:#,0}", data[i][3])</td>
                        </tr>
                        <tr>
                            <th style="background-color: rgb(220,247,231);">合計</th>
                            <td class="data-cell" style="color: red;">¥@string.Format("{0:#,0}", data[i][1] + data[i][2] + data[i][3])</td>
                        </tr>
                    </table>
                </div>
                <!-- 仮予約フォームへ遷移するボタン -->
                <div class="button-container">
                    <button class="button" onclick="window.location.href='予約ページのURL';">仮予約のお申込み</button>
                </div>
            </div>
        }
    </div>
</body>
</html>
