@page
@model Login_Page.Pages.PlotSelectionModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/PlotSelection.css" rel="stylesheet">
</head>
<body id="plotbody">
    <div id="title-container">
        <div id="PlotSelectiontitle">
            空き区画仮予約画面
        </div>
        <div id="PlotSelectionSubtitle">
            大阪生駒霊園の空き区画のご確認ができます。<br />
            ご希望の区画を仮予約することも可能です。
        </div>
    </div>

    <div id="PlotSelectionContainer">
        <!-- 画像 -->
        <canvas id="plotCanvas" width="1110" height="950"></canvas>
        <img src="images/kukaku.png" alt="区画" id="PlotSelectionImage" />
    </div>
    <script src="~/js/PlotSelection.js"></script>
</body>
</html>