@page
@model YasiroRegrave.Pages.Reserve1Model
@{
    @using YasiroRegrave.Pages.common;
    ViewData["Title"] = "予約のお申し込み";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/Reserve.css">
<link rel="stylesheet" href="./css/Reserve-sp.css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<header>
    <h1>空き区画仮予約の<br>お申し込み</h1>
</header>
<main>
    <section>
        <h2>電話でのご予約も可能です。</h2>
        <img src="~/images/PhoneNumber.png" alt="Sidebar Icon">
        <h2>メールでのご予約</h2>
        <div>下記フォームに必要事項を入力の上、<br>「確認画面へ」ボタンを押してください。</div>
    </section>
    <section>

        <form method="post" id="reservation-form">
            <label for="section-number">ご希望の区画番号</label>
            <input type="text" id="section-number" name="section-number" value="@Model.SectionName" disabled>

            <label for="last-name">お名前（全角）　　※必須</label>
            <div class="name-wrapper">
                <div class="name-group">
                    <label for="last-name">姓</label>
                    <input type="text" id="last-name" name="last-name" asp-for="LastName" placeholder="生駒">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="name-group">
                    <label for="first-name">名</label>
                    <input type="text" id="first-name" name="first-name" asp-for="FirstName" placeholder="太郎">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="name-wrapper">
                <div class="name-group">
                    <label for="last-name-kana">せい</label>
                    <input type="text" id="last-name-kana" name="last-name-kana" asp-for="LastNameKana" placeholder="いこま">
                    <span asp-validation-for="LastNameKana" class="text-danger"></span>
                </div>
                <div class="name-group">
                    <label for="first-name-kana">めい</label>
                    <input type="text" id="first-name-kana" name="first-name-kana" asp-for="FirstNameKana" placeholder="たろう">
                    <span asp-validation-for="FirstNameKana" class="text-danger"></span>
                </div>
            </div>

            <label for="postal-code">ご住所　　※必須</label>
            <label for="postal-code">
                <span>郵便番号</span>
            </label>
            <div class="postal-code-wrapper">
                <input type="text" id="postal-code" name="postal-code" asp-for="PostalCode" placeholder="例）1234567">
                <button type="button" id="auto-fill">郵便番号から住所を検索</button>
            </div>
            <span asp-validation-for="PostalCode" class="text-danger postal-code-error"></span>
            
            <div class="postal-code-note">
                <p>※半角英数字</p>
            </div>

            <label for="prefecture">都道府県</label>
            <input type="text" id="prefecture" name="prefecture" asp-for="Prefecture" placeholder="例）大阪府">
            <span asp-validation-for="Prefecture" class="text-danger"></span>

            <label for="city">市区郡</label>
            <input type="text" id="city" name="city" asp-for="City" placeholder="例）四条畷市">
            <span asp-validation-for="City" class="text-danger"></span>

            <label for="address">町名・番地</label>
            <input type="text" id="address" name="address" asp-for="Address" placeholder="例）1366番地">
            <span asp-validation-for="Address" class="text-danger"></span>

            <label for="building">ビル・マンション名</label>
            <input type="text" id="building" name="building" placeholder="例）大阪生駒霊園">

            <label for="phone">電話番号　　※必須</label>
            <input type="tel" id="phone" name="phone" asp-for="Phone" placeholder="例）0120758948">
            <span asp-validation-for="Phone" class="text-danger"></span>
            
            <div class="phone-note">
                <p>※ハイフンなし</p>
            </div>

            <label for="email">メールアドレス　　※必須</label>
            <input type="email" id="email" name="email" asp-for="Email" placeholder="例）info@abcd.com">
            <span asp-validation-for="Email" class="text-danger"></span>

            <div class="email-note">
                <p>携帯メールアドレスをご入力の場合、携帯の設定により返信メールが届かないことがございます。
                    <br>弊社からのメール（＠yasiro.co.jp）を受信できるよう設定をお願いいたします。</p>
            </div>

            @if (Model.ReserveMode == (int)Config.ReserveType.見学予約)
            {
                <label for="date1">相談・見学希望日時　　※必須</label>
                <label for="date1">希望日①</label>
                <input type="text" id="date1" name="date1">
                <div class="date1-note">
                    <p>※水曜定休</p>
                </div>

                <label for="time1">希望時間①</label>
                <select id="time1" name="time1">
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                </select>
                <div class="time1-note">
                    <p>※営業時間 9:00～16:00（年中無休）</p>
                </div>

                <label for="date2">希望日②</label>
                <input type="text" id="date2" name="date2">
                <div class="date2-note">
                    <p>※水曜定休</p>
                </div>

                <label for="time2">希望時間②</label>
                <select id="time2" name="time2">
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                </select>
                <div class="time2-note">
                    <p>※営業時間 9:00～16:00（年中無休）</p>
                </div>

                <label for="date3">希望日③</label>
                <input type="text" id="date3" name="date3">
                <div class="date3-note">
                    <p>※水曜定休</p>
                </div>

                <label for="time3">希望時間③</label>
                <select id="time3" name="time3">
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                </select>
                <div class="time3-note">
                    <p>※営業時間 9:00～16:00（年中無休）</p>
                </div>
            }
            <label for="inquiry">お問い合わせ内容</label>
            <div class="inquiry-note">
                <p>ご質問等ございましたら、ご自由にお書きください。</p>
            </div>
            <textarea id="inquiry" name="inquiry"></textarea>

            <label for="contact-methods">ご希望の連絡方法 <span class="note">　※複数回答可</span></label>
            <div class="contact-options">
                <div>
                    <input type="checkbox" id="contact-phone" name="SelectCheckBox" value="phone">
                    <label for="contact-phone">電話</label>
                </div>
                <div>
                    <input type="checkbox" id="contact-email" name="SelectCheckBox" value="email">
                    <label for="contact-email">メール</label>
                </div>
            </div>
            <span asp-validation-for="SelectCheckBox" class="text-danger"></span>

            <label for="email-subscription">メール配信</label>
            <div class="subscription-options">
                <p>メール限定キャンペーンなどの最新情報や、これからの供養に役立つ終活情報をお届けします。</p>
                <div>
                    <input type="radio" id="subscribe-yes" name="email-subscription" value="yes" checked>
                    <label for="subscribe-yes">受信する</label>
                </div>
                <div>
                    <input type="radio" id="subscribe-no" name="email-subscription" value="no">
                    <label for="subscribe-no">受信しない</label>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="submit-button">確認画面へ</button>
            </div>
        </form>
        <div class="announce-note">
            <br>※申し込み後、仮予約の内容を記載した自動返信メールを送信致します。<br>届かない場合はお問い合わせください。<br><br>
        </div>
        <img src="~/images/PhoneNumber.png" alt="Sidebar Icon">
    </section>
</main>

<script>
    $(document).ready(function () {
        var today = new Date();

        function checkDateAndToggleTime() {
            var date1 = $('#date1').datepicker('getDate');
            var date2 = $('#date2').datepicker('getDate');
            var date3 = $('#date3').datepicker('getDate');

            var isDisabled1 = !date1 || date1.getDay() === 3;
            var isDisabled2 = !date2 || date2.getDay() === 3;
            var isDisabled3 = !date3 || date3.getDay() === 3;

            $('#time1').prop('disabled', isDisabled1);
            $('#time2').prop('disabled', isDisabled2);
            $('#time3').prop('disabled', isDisabled3);
        }

        function noWednesday(date) {
            var day = date.getDay();
            return [day !== 3, "", "選択不可"];
        }

        $("#date1, #date2, #date3").datepicker({
            dateFormat: "yy-mm-dd",
            minDate: today,
            beforeShowDay: noWednesday,
            onSelect: checkDateAndToggleTime
        }).blur(function () {
            var input = $(this);
            setTimeout(function () {
                if (!input.datepicker("widget").is(":visible")) {
                    input.datepicker('hide');
                }
            }, 150);
        });

        $('#date1, #date2, #date3').on('change', checkDateAndToggleTime);
        checkDateAndToggleTime(); // 初期状態のチェック
    });
    document.getElementById('auto-fill').addEventListener('click', function () {
        const postalCode = document.getElementById('postal-code').value;
        fetch(`https://zipcloud.ibsnet.co.jp/api/search?zipcode=${postalCode}`)
            .then(response => response.json())
            .then(data => {
                if (data.results) {
                    const result = data.results[0];
                    document.getElementById('prefecture').value = result.address1;
                    document.getElementById('city').value = result.address2;
                    document.getElementById('address').value = result.address3;
                } else {
                    alert('@Html.Raw(Message.M_Q0003)');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('@Html.Raw(Message.M_Q0004)。');
            });

    });
</script>

