@page
@model YasiroRegrave.Pages.ReserveComplateModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Complete</title>
    <style>
        .centered-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }

            .centered-content img {
                max-width: 100%;
                height: auto;
            }

        .button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

            .button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <div class="centered-content">
        <img src="~/images/complate.png" alt="Centered Image">
        <a href="/" class="button">大阪生駒霊園TOPページに戻る</a>
    </div>
</body>
</html>
