@page
@model VenderListModel
@{
    @using YasiroRegrave.Pages.common;
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>販売会社情報一覧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/UserList.css">
    <link rel="stylesheet" href="~/css/SideBar.css">
</head>
<body>
    <div class="container-fluid d-flex">
        <div class="sidebar">
            <div class="sidebar-header">
                <a href="https://www.yasiro.co.jp/reien/ikoma/">
                    <img src="~/images/yasiro.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <div class="sidebar-header">
                <a href="/PlotSelection">
                    <img src="~/images/akikukaku.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <ul class="sidebar-menu">
                <li><a href="/UserList">ユーザー情報一覧</a></li>
                <li><a href="/VenderList">販売会社情報一覧</a></li>
                <li><a href="/ReienList">メール送信先一覧</a></li>
                <li><a href="/CemeteryInfoList">墓所情報一覧</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="header-container">
                <img src="~/images/user.png" alt="User Icon" class="header-icon">
                <h2 class="header-title">販売会社情報一覧</h2>
                <div class="header-form">
                    <form method="get" action="/VenderEdit">
                        <button type="submit" class="btn btn-primary new-user-btn">新規追加</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>名前</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vender in Model.Venders)
                            {
                                <tr>
                                    <td>@vender.Name</td>
                                    <td class="edit-btn-cell">
                                        <form method="get" class="btn-form" action="/VenderEdit">
                                            <input type="hidden" name="Index" value="@vender.Index" />
                                            <button type="submit" class="btn btn-secondary">編集</button>
                                        </form>

                                        <form method="post" class="btn-form" onsubmit="return confirm('@Message.M_Q0001')">
                                            <input type="hidden" name="Index" value="@vender.Index" />
                                            <button type="submit" class="btn btn-warnning">削除</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
